* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #242D2E;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
}

.title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 50px;
}

.swatch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    /* border: red solid thin; */
    padding: 15px;
}

.color-swatch {
    
    height: 170px;
    width: 170px;
    border-radius: 125px;
    box-shadow: 0px 0px 15px black;
}

.color-container {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 20px; */
    /* border: green thin solid; */
}

.color-sliders {
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slide-container {
    width: 20%;
    height: 100%;
    /* border: black solid thin; */
}

.slider-title {
    text-align: center;
    width: 100%;
    height: 30px;
    color: white;
}

.slider-box {
    height: 170px;
    /* border: hotpink solid thin; */
}

.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 150px;
    background: gray;
    opacity: 0.7;
    transition: opactiy .2s;
    -webkit-transition: .2s;
    /* box-shadow: 0px 0px 10px black; */

    transform: rotate(-90deg);
    position: relative;
    top: 73px;
    left: -37px;
    border-radius: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider-value {
    margin: auto;
    text-align: center;
    /* height: 30px; */
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    background-color: #505050;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
}

.submit-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#submit-button {
    background-color: #538D4E;
    color: white;
    font-weight: 700;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    margin: 20px;
    padding: 10px;
}

.guess-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

.guess-row, .output-row{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* border: solid black thin; */
    width: 600px;
    box-sizing: border-box;

}


.guess-row {
    display: none;
}

.red-guess, .green-guess, .blue-guess, #blue-output, #green-output, #red-output{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #505050;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.swatch-guess, #swatch-output {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: black solid 2px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: black 0px 0px 5px;
    box-shadow: 0px 0px 3px black;
    
}

#swatch-output {
    display: none;
}

.swatch-output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    /* border: yellow solid thin; */
}

.value-output-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: green solid thin; */
}


.winner-container {
    width: 100vw;
    height: 100vh;
    font-size: 35px;
    font-weight: 700;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    opacity: 85%;
}